.features {
  @extend %flex-cards-box;
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.features__item {
  @media screen and (max-width: $mobile-only) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @extend %flex-cards;

  @media screen and (min-width: $desktop) {
    max-width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.features__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;

  background-color: var(--secondary-bcg-color);
  border-radius: 4px;
}

.features__icon {
  height: 70px;
  width: 70px;
}
.features__title {
  @extend %title;
  font-size: 14px;
  margin-bottom: 10px;
  @media screen and (max-width: $mobile-only) {
    text-align: center;
  }

  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14;
}
