.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bcg-color);
}
.footer {
  // display: flex;
  // align-items: baseline;
}

.footer__tablet-box {
  @media screen and (min-width: $tablet) and (max-width: $tablet-only) {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}
