.subscribe {
  @media screen and (min-width: $tablet) and (max-width: $tablet-only) {
    margin-top: 60px;
  }
  @media screen and (max-width: $tablet-only) {
    text-align: center;
  }
  @media screen and (min-width: $desktop) {
    margin-left: auto;
  }
}
.subscribe__text {
  display: block;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-text-color);
}

.subscribe__form {
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
  }
}

.subscribe__input {
  width: 100%;
  height: 50px;
  padding: 15px;

  @media screen and (min-width: $tablet) and (max-width: $tablet-only) {
    width: 450px;
  }

  @media screen and (max-width: $tablet-only) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: $desktop) {
    width: 358px;
  }
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  background-color: transparent;
  color: var(--white-text-color);
  cursor: pointer;
  transition: border-color 250ms var(--timing-function);

  &:hover {
    border-color: var(--accent-color);

    &:focus {
      outline: 1px solid rgba(255, 255, 255, 0.5);
    }
  }
}

.subscribe__btn {
  @media screen and (min-width: $desktop) {
    margin-left: 12px;
  }
}

.btn__icon {
  margin-left: 10px;
}
