.header {
  // max-height: 80px;
  border-bottom: 1px solid #ececec;
}
.header__container {
  @media screen and (max-width: $mobile-only) {
    position: relative;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}
